.topnav {
    position: fixed; /* Sit on top of the page content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: fit-content;
    background-color: rgba(50, 17, 0, 0.8); /* Black background with opacity */
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ffb4b4;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #771100;
    color: white;
  }